<a href="https://colab.research.google.com/github/akutayaydin/Magnimind-3/blob/main/Twitter_NLP_v5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Twitter NLP Classification Project

Goal: Create a ML model for Business Category tweets

In [ ]:
import pandas as pd

In [ ]:
#For Google Colab
url ='https://raw.githubusercontent.com/akutayaydin/Magnimind-3/main/tweet_data_small.csv'
df = pd.read_csv(url)

In [ ]:
#df = pd.read_csv('tweet_data.csv')

In [ ]:
#Select Business Category Only as Request
df = df[df['topicName'] == 'Business']

In [ ]:
df.head(10)

,tweetID,crDate,edInput,editor,engages,isApproved,isEdNeed,isRT,likes,photoUrl,retweets,rtUsID,text,topicName,usFlwrs,usID,usName,videoUrl
0,1070867471245164544,2018-12-07 02:27:55,-1,-1,98,False,True,False,64,https://pbs.twimg.com/media/Dtx8SiIWkAImVsb.jpg,34,-1,The immediate impulse for an alliance of the E...,Business,23464532,5988062,The Economist,NaN
1,1070868017888837633,2018-12-07 02:30:05,-1,-1,13,False,True,False,10,https://pbs.twimg.com/media/Dtx8yTyW4AEciqP.jpg,3,-1,America's economy is flashing some warning sig...,Business,1732809,16184358,CNN Business,NaN
2,1070868012864028673,2018-12-07 02:30:04,-1,-1,12,False,True,False,8,NaN,4,-1,Lyft files for what is expected to be one of t...,Business,2253989,25053299,FORTUNE,NaN
3,1070867995239555075,2018-12-07 02:30:00,-1,-1,5,False,True,False,4,NaN,1,-1,"Exporters still waiting to get Rs 6,000 crore ...",Business,1704056,43855487,Business Standard,NaN
4,1070867995205885952,2018-12-07 02:30:00,-1,-1,5,False,True,False,2,NaN,3,-1,Ride-hailing firm Lyft races to leave Uber beh...,Business,1997662,15110357,Reuters Business,https://video.twimg.com/amplify_video/10708116...
5,1070868102160769025,2018-12-07 02:30:25,-1,-1,31,False,True,False,17,https://pbs.twimg.com/media/Dtx83JvX4AE48aw.jpg,14,-1,-Asian stocks post modest gains \n-S&P 500 fut...,Business,5033221,34713362,Bloomberg,NaN
6,1070868071844376576,2018-12-07 02:30:18,-1,-1,9,False,True,False,7,NaN,2,-1,What's your pick? https://t.co/a0nnFRqIQ3,Business,2318088,2735591,Fast Company,NaN
7,1070868063359262720,2018-12-07 02:30:16,-1,-1,4,False,True,False,4,NaN,0,-1,Dick's CEO Ed Stack totals up how many employe...,Business,48736,14921083,Business Journals,NaN
8,1070868025887387648,2018-12-07 02:30:07,-1,-1,90,False,True,False,63,NaN,27,-1,A meeting of tech leaders at the White House m...,Business,16198522,3108351,The Wall Street Journal,NaN
9,1070875544533663746,2018-12-07 03:00:00,-1,-1,7,False,True,False,2,NaN,5,-1,Wall Street recovers slightly from earlier los...,Business,1997685,15110357,Reuters Business,https://video.twimg.com/amplify_video/10708116...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80000 entries, 0 to 79999
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweetID     80000 non-null  int64
 1   crDate      80000 non-null  object
 2   edInput     80000 non-null  int64
 3   editor      80000 non-null  int64
 4   engages     80000 non-null  int64
 5   isApproved  80000 non-null  bool
 6   isEdNeed    80000 non-null  bool
 7   isRT        80000 non-null  bool
 8   likes       80000 non-null  int64
 9   photoUrl    9615 non-null   object
 10  retweets    80000 non-null  int64
 11  rtUsID      80000 non-null  int64
 12  text        80000 non-null  object
 13  topicName   80000 non-null  object
 14  usFlwrs     80000 non-null  int64
 15  usID        80000 non-null  int64
 16  usName      80000 non-null  object
 17  videoUrl    10936 non-null  object
dtypes: bool(3), int64(9), object(6)
memory usage: 10.0+ MB

>Preprocessing starts here

In [ ]:
df_section = df[['tweetID','text','topicName','usID','usName','edInput','crDate']].copy()

We dont need these columns.
5 unique values for edInput : (5, array([-1,  2,  1,  4,  3]))
2 unique values for isApproved: (2, array([False,  True]))
12 unique values for editor: (12,
 array([  -1, 5001, 5003, 5004, 5002, 1001, 2001, 5006, 5101, 5005, 5008,
        5007]))
42 unique values for topicname:(42,
 array(['Business', 'Animal', 'Memes', 'Nature', 'Travel', 'Interesting',
        'News', 'Fashion', 'Art', 'Personal Development', 'Motivational',
        'DIY & Craft', 'Editorial Pics', 'Funny', 'Poem', 'World Leaders',
        'Entrepreneurship', 'US News', 'Journalists', 'Flowers',
        'Cryptocurrency', 'Photography', 'Design & Architecture',
        'Fitness', 'Spirituality', 'Startup', 'Space', 'Technology',
        'Digital Media & Internet', 'Psychology', 'Science', 'Basketball',
        'Humor', 'Mindfulness', 'Medical', 'Informative', 'Love', 'Stocks',
        'Nanotech', 'Biotech', 'science', 'Random'], dtype=object))

In [ ]:
#Remove duplicates from the dataframe

In [ ]:
df_section = df_section.drop_duplicates(subset='text')

In [ ]:
df_section.head()

,tweetID,text,topicName,usID,usName,edInput,crDate
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,-1,2018-12-07 02:27:55
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,-1,2018-12-07 02:30:05
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,-1,2018-12-07 02:30:04
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,-1,2018-12-07 02:30:00
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,-1,2018-12-07 02:30:00

>Preprocessing ends here

>Text Processing and Tokenization starts here

In [ ]:
#1. Tokenize text column and save it as a list in tokens column
#2. Convert all words in the tokens column to lowercase
#3. Remove Stopwords
#4. Find all urls and parse them to a new column (tokens_url) >> TODO: Later this url(s) will be scraped to get more information about the category. 
#5. Remove Punctuations and create a new column (tokens_new)

In [ ]:
import re
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords

In [ ]:
tknz =TweetTokenizer()

In [ ]:
df_section['tokens'] =''

In [ ]:
df_section['tokens'] = df['text'].apply(tknz.tokenize)

In [ ]:
df_section.head()

,tweetID,text,topicName,usID,usName,edInput,crDate,tokens
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,-1,2018-12-07 02:27:55,"[The, immediate, impulse, for, an, alliance, o..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,-1,2018-12-07 02:30:05,"[America's, economy, is, flashing, some, warni..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,-1,2018-12-07 02:30:04,"[Lyft, files, for, what, is, expected, to, be,..."
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,-1,2018-12-07 02:30:00,"[Exporters, still, waiting, to, get, Rs, 6,000..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,-1,2018-12-07 02:30:00,"[Ride-hailing, firm, Lyft, races, to, leave, U..."

In [ ]:
df_section.shape

(79957, 8)

In [ ]:
#Convert the list to lowercase
def convert_string_lower(strings):
    newList = []
    for string in strings:
        string = string.replace('\'','') # don't loose words with these character
        string = string.replace('-','') # don't loose words with these character
        newList.append(string.lower())
    return newList

df_section['tokens'] = list(map(convert_string_lower,df_section['tokens']))

In [ ]:
df_section.head(5)

,tweetID,text,topicName,usID,usName,edInput,crDate,tokens
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,-1,2018-12-07 02:27:55,"[the, immediate, impulse, for, an, alliance, o..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,-1,2018-12-07 02:30:05,"[americas, economy, is, flashing, some, warnin..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,-1,2018-12-07 02:30:04,"[lyft, files, for, what, is, expected, to, be,..."
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,-1,2018-12-07 02:30:00,"[exporters, still, waiting, to, get, rs, 6,000..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,-1,2018-12-07 02:30:00,"[ridehailing, firm, lyft, races, to, leave, ub..."

In [ ]:
import nltk
from nltk.corpus import stopwords

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#remove stopwords      
nltk_words = stopwords.words('english') 

def remove_stopwords(string):
    output = [w for w in string if w not in nltk_words]
    return output

df_section['tokens'] = df_section['tokens'].apply(remove_stopwords)

In [ ]:
df_section.head(10)

,tweetID,text,topicName,usID,usName,edInput,crDate,tokens
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,-1,2018-12-07 02:27:55,"[immediate, impulse, alliance, eus, northern, ..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,-1,2018-12-07 02:30:05,"[americas, economy, flashing, warning, signs, ..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,-1,2018-12-07 02:30:04,"[lyft, files, expected, one, hottest, ipos, 20..."
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,-1,2018-12-07 02:30:00,"[exporters, still, waiting, get, rs, 6,000, cr..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,-1,2018-12-07 02:30:00,"[ridehailing, firm, lyft, races, leave, uber, ..."
5,1070868102160769025,-Asian stocks post modest gains \n-S&P 500 fut...,Business,34713362,Bloomberg,-1,2018-12-07 02:30:25,"[, asian, stocks, post, modest, gains, , &, p,..."
6,1070868071844376576,What's your pick? https://t.co/a0nnFRqIQ3,Business,2735591,Fast Company,-1,2018-12-07 02:30:18,"[whats, pick, ?, https://t.co/a0nnfrqiq3]"
7,1070868063359262720,Dick's CEO Ed Stack totals up how many employe...,Business,14921083,Business Journals,-1,2018-12-07 02:30:16,"[dicks, ceo, ed, stack, totals, many, employee..."
8,1070868025887387648,A meeting of tech leaders at the White House m...,Business,3108351,The Wall Street Journal,-1,2018-12-07 02:30:07,"[meeting, tech, leaders, white, house, marked,..."
9,1070875544533663746,Wall Street recovers slightly from earlier los...,Business,15110357,Reuters Business,-1,2018-12-07 03:00:00,"[wall, street, recovers, slightly, earlier, lo..."

In [ ]:
#Check if any stop words exists
df_section[['the' in x for x in df_section['tokens']]]

Empty DataFrame
Columns: [tweetID, text, topicName, usID, usName, edInput, crDate, tokens]
Index: []

In [ ]:
#find urls and create a new column for them
#TODO: Scrape this url to get more info     
url_pattern = re.compile(r"([http#]\W+)")

def find_url(string):
    output = [w for w in string if url_pattern.search(w)]
    return output

df_section['tokens_url'] = df_section['tokens'].apply(find_url)

In [ ]:
df_section.head(10)

,tweetID,text,topicName,usID,usName,edInput,crDate,tokens,tokens_url
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,-1,2018-12-07 02:27:55,"[immediate, impulse, alliance, eus, northern, ...","[https://t.co/nlhud36hay, https://t.co/shwmwpj..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,-1,2018-12-07 02:30:05,"[americas, economy, flashing, warning, signs, ...","[https://t.co/xvcpgtqmzy, https://t.co/0sqdzas..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,-1,2018-12-07 02:30:04,"[lyft, files, expected, one, hottest, ipos, 20...",[https://t.co/qejyniazld]
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,-1,2018-12-07 02:30:00,"[exporters, still, waiting, get, rs, 6,000, cr...",[https://t.co/qrbg8b98rr]
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,-1,2018-12-07 02:30:00,"[ridehailing, firm, lyft, races, leave, uber, ...","[https://t.co/0qcsdx2lys, https://t.co/ghzlunt..."
5,1070868102160769025,-Asian stocks post modest gains \n-S&P 500 fut...,Business,34713362,Bloomberg,-1,2018-12-07 02:30:25,"[, asian, stocks, post, modest, gains, , &, p,...","[https://t.co/8cwvkxpowq, https://t.co/ebp6jna..."
6,1070868071844376576,What's your pick? https://t.co/a0nnFRqIQ3,Business,2735591,Fast Company,-1,2018-12-07 02:30:18,"[whats, pick, ?, https://t.co/a0nnfrqiq3]",[https://t.co/a0nnfrqiq3]
7,1070868063359262720,Dick's CEO Ed Stack totals up how many employe...,Business,14921083,Business Journals,-1,2018-12-07 02:30:16,"[dicks, ceo, ed, stack, totals, many, employee...",[https://t.co/kgoa4cq5nr]
8,1070868025887387648,A meeting of tech leaders at the White House m...,Business,3108351,The Wall Street Journal,-1,2018-12-07 02:30:07,"[meeting, tech, leaders, white, house, marked,...",[https://t.co/blffalegil]
9,1070875544533663746,Wall Street recovers slightly from earlier los...,Business,15110357,Reuters Business,-1,2018-12-07 03:00:00,"[wall, street, recovers, slightly, earlier, lo...","[https://t.co/vpvab9zrup, https://t.co/0yoxbr7..."

In [ ]:
df_section['tokens_new'] = ''

In [ ]:
#remove punctuations

def no_punc(string):
  #for i,tokens in df_section.iterrows():
  #string = string.replace('\'')
  no_punc = [w for w in string if w.isalpha()]
  return no_punc

df_section['tokens_new'] = df_section['tokens'].apply(no_punc)

In [ ]:
df_section.head(5)

,tweetID,text,topicName,usID,usName,edInput,crDate,tokens,tokens_url,tokens_new
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,-1,2018-12-07 02:27:55,"[immediate, impulse, alliance, eus, northern, ...","[https://t.co/nlhud36hay, https://t.co/shwmwpj...","[immediate, impulse, alliance, eus, northern, ..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,-1,2018-12-07 02:30:05,"[americas, economy, flashing, warning, signs, ...","[https://t.co/xvcpgtqmzy, https://t.co/0sqdzas...","[americas, economy, flashing, warning, signs, ..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,-1,2018-12-07 02:30:04,"[lyft, files, expected, one, hottest, ipos, 20...",[https://t.co/qejyniazld],"[lyft, files, expected, one, hottest, ipos]"
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,-1,2018-12-07 02:30:00,"[exporters, still, waiting, get, rs, 6,000, cr...",[https://t.co/qrbg8b98rr],"[exporters, still, waiting, get, rs, crore, wo..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,-1,2018-12-07 02:30:00,"[ridehailing, firm, lyft, races, leave, uber, ...","[https://t.co/0qcsdx2lys, https://t.co/ghzlunt...","[ridehailing, firm, lyft, races, leave, uber, ..."

In [ ]:
#Lemmatizing starts here

In [ ]:
from nltk.stem import WordNetLemmatizer

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
wordnet_lemmatizer = WordNetLemmatizer()

In [ ]:
df_section['tokens_lemmatize'] = ''

In [ ]:
def word_lemmatize(string):
  output = [wordnet_lemmatizer.lemmatize(w) for w in string]
  return output

df_section['tokens_lemmatize'] =df_section['tokens_new'].apply(word_lemmatize)

In [ ]:
df_section.head(10)

,tweetID,text,topicName,usID,usName,edInput,crDate,tokens,tokens_url,tokens_new,tokens_lemmatize
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,-1,2018-12-07 02:27:55,"[immediate, impulse, alliance, eus, northern, ...","[https://t.co/nlhud36hay, https://t.co/shwmwpj...","[immediate, impulse, alliance, eus, northern, ...","[immediate, impulse, alliance, eu, northern, s..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,-1,2018-12-07 02:30:05,"[americas, economy, flashing, warning, signs, ...","[https://t.co/xvcpgtqmzy, https://t.co/0sqdzas...","[americas, economy, flashing, warning, signs, ...","[america, economy, flashing, warning, sign, la..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,-1,2018-12-07 02:30:04,"[lyft, files, expected, one, hottest, ipos, 20...",[https://t.co/qejyniazld],"[lyft, files, expected, one, hottest, ipos]","[lyft, file, expected, one, hottest, ipo]"
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,-1,2018-12-07 02:30:00,"[exporters, still, waiting, get, rs, 6,000, cr...",[https://t.co/qrbg8b98rr],"[exporters, still, waiting, get, rs, crore, wo...","[exporter, still, waiting, get, r, crore, wort..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,-1,2018-12-07 02:30:00,"[ridehailing, firm, lyft, races, leave, uber, ...","[https://t.co/0qcsdx2lys, https://t.co/ghzlunt...","[ridehailing, firm, lyft, races, leave, uber, ...","[ridehailing, firm, lyft, race, leave, uber, b..."
5,1070868102160769025,-Asian stocks post modest gains \n-S&P 500 fut...,Business,34713362,Bloomberg,-1,2018-12-07 02:30:25,"[, asian, stocks, post, modest, gains, , &, p,...","[https://t.co/8cwvkxpowq, https://t.co/ebp6jna...","[asian, stocks, post, modest, gains, p, future...","[asian, stock, post, modest, gain, p, future, ..."
6,1070868071844376576,What's your pick? https://t.co/a0nnFRqIQ3,Business,2735591,Fast Company,-1,2018-12-07 02:30:18,"[whats, pick, ?, https://t.co/a0nnfrqiq3]",[https://t.co/a0nnfrqiq3],"[whats, pick]","[whats, pick]"
7,1070868063359262720,Dick's CEO Ed Stack totals up how many employe...,Business,14921083,Business Journals,-1,2018-12-07 02:30:16,"[dicks, ceo, ed, stack, totals, many, employee...",[https://t.co/kgoa4cq5nr],"[dicks, ceo, ed, stack, totals, many, employee...","[dick, ceo, ed, stack, total, many, employee, ..."
8,1070868025887387648,A meeting of tech leaders at the White House m...,Business,3108351,The Wall Street Journal,-1,2018-12-07 02:30:07,"[meeting, tech, leaders, white, house, marked,...",[https://t.co/blffalegil],"[meeting, tech, leaders, white, house, marked,...","[meeting, tech, leader, white, house, marked, ..."
9,1070875544533663746,Wall Street recovers slightly from earlier los...,Business,15110357,Reuters Business,-1,2018-12-07 03:00:00,"[wall, street, recovers, slightly, earlier, lo...","[https://t.co/vpvab9zrup, https://t.co/0yoxbr7...","[wall, street, recovers, slightly, earlier, lo...","[wall, street, recovers, slightly, earlier, lo..."

In [ ]:
#use this part to split the text column
#X = df_section.iloc[4:5,5].to_string().split(",")

In [ ]:
Notes:
    1. Check urllinks - related to business websites
    2. Agirlik ortalamasi belirlemek 
    3. drop duplicates